name: Update Snake

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */12 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Generate snake
        run: |
          curl -s "https://github-contributions.vercel.app/api/v1/djedra?no-total=true&no-legend=true&format=svg" > contributions.svg
          curl -s "https://github-contributions.vercel.app/api/v1/djedra?no-total=true&no-legend=true&format=svg&theme=dark" > contributions-dark.svg

      - name: Commit and push
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Update contribution snake"
          file_pattern: "*.svg"
