name: Update Snake

on: [workflow_dispatch]

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - run: |
          curl -s "https://github-contributions.vercel.app/api/v1/djedra" > snake.svg
          echo "Файл создан: snake.svg"
